body {
  text-align: center;
  background-color: #F8F8F8;
  color: #4a4a4a;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  letter-spacing: 0.5px;
  cursor: default;
  overflow: hidden; }
  body .container {
    max-width: 960px;
    margin: auto;
    border: 1px solid green;
    height: 100vh;
    display: grid;
    grid-template-rows: 5em 1fr 5em;
    grid-template-columns: 10% 80% 10%;
    grid-auto-flow: column; }
    body .container header {
      background-color: blue;
      grid-column-start: 1;
      grid-column-end: 4;
      grid-row-start: 1;
      grid-row-end: 2; }
    body .container main {
      background-color: red;
      grid-column-start: 1;
      grid-column-end: 4;
      grid-row-start: 2;
      grid-row-end: 3; }
      body .container main .player-set {
        height: 10%; }
      body .container main .canvas {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        width: 30em;
        height: 30em;
        margin: auto; }
        body .container main .canvas .field {
          display: inline-block;
          min-width: 10em;
          min-height: 10em;
          background-color: #FFFFFF;
          margin: 0;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center; }
        body .container main .canvas .field:nth-of-type(2n) {
          background-color: grey; }
        body .container main .canvas .field:hover {
          background-color: blue; }

          /* KANN ABGEÄNDERT WERDEN, NUR TESTWEISE */
        body .container main .symbols .player1-icon, .player2-icon {
          background-image: url("https://pbs.twimg.com/profile_images/773151694934847488/g0aE4CJ6_400x400.jpg");
          background-size: cover;
          height: 100px;
          width: 100px;}
        body .container main .symbols .player2-icon {
          background-image: url("https://az503889.vo.msecnd.net/eventgrid/img/d012b2c5-41e9-4adb-9246-27ca54bf6441.png");}
          /* ---------------------------- */

    body .container footer {
      background-color: pink;
      grid-column-start: 1;
      grid-column-end: 4;
      grid-row-start: 3;
      grid-row-end: 4; }
