body {
  text-align: center;
  background-color: #F8F8F8;
  color: #4a4a4a;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  letter-spacing: 0.5px;
  cursor: default;
  overflow: hidden; }
  body h1 {
    font-size: 2em;
    font-weight: 400;
    letter-spacing: 1px; }
  body .heading-line {
    margin: 0.5em auto 0.5em auto;
    background-color: #4a4a4a;
    height: 0.1em;
    width: 12.5em; }
  body h2 {
    font-size: 1.25em;
    font-weight: 300;
    letter-spacing: 2px; }
  body .btt {
    font-size: 1.25em;
    display: inline-block;
    padding: 0.45em 2.75em 0.3em 2.75em;
    color: #FFFFFF;
    text-transform: uppercase;
    letter-spacing: 3px;
    border-radius: 100px;
    margin: 1em auto 1em auto;
    cursor: pointer; }
  body .btt:hover, body .btt:active {
    transition: all 250ms; }
  body a:link, body a:visited {
    text-decoration: none;
    color: #4a4a4a; }
  body a:hover, body a:active {
    text-decoration: none; }
  body .total {
    width: 1.5em;
    height: 1.5em;
    margin: 0.25em;
    background-color: #D8D8D8;
    border-radius: 5em;
    display: inline-block; }
  body .description {
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: 300;
    letter-spacing: 2px;
    margin-bottom: 1rem; }
  body .made {
    font-size: 1em;
    display: block;
    color: #4a4a4a;
    margin-top: 1em; }
    body .made .heart, body .made .coffee {
      vertical-align: text-top;
      cursor: default; }
  body svg {
    cursor: pointer;
    transition: all 500ms; }

body .landing .made {
  color: #4a4a4a; }

body .landing .row.main {
  margin: 1em auto -5.5em auto; }
  body .landing .row.main .play-pause {
    transform: translate(0, -8.5em);
    cursor: pointer;
    display: inline-block; }
    body .landing .row.main .play-pause #play {
      transform: translate(3em, 0); }
    body .landing .row.main .play-pause #pause {
      transform: translate(-3em, 0); }

body .landing .row .total:nth-of-type(4) {
  margin-right: 0.5em; }

body .landing .row .total:nth-of-type(5) {
  margin-left: 0.5em; }

body .landing .timeDigital {
  font-size: 1.75em;
  margin: 0 0 0.5em 0;
  font-weight: 300;
  letter-spacing: 2px; }

body .settingspage {
  position: absolute;
  height: 109vh;
  width: 100%;
  top: 0;
  color: #FFFFFF;
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.25s ease-in; }
  body .settingspage .row .set {
    display: flex;
    align-items: baseline;
    justify-content: center;
    margin-bottom: 1rem; }
    body .settingspage .row .set .num {
      width: 2.5em;
      font-size: 2em;
      cursor: pointer; }
    body .settingspage .row .set .session, body .settingspage .row .set .break {
      font-size: 2em;
      font-weight: 300;
      align-self: center;
      padding: 0 0.25em 0 0.25em; }
  body .settingspage .row .box {
    background-color: #FFFFFF;
    padding: 0.75em;
    display: inline-block;
    border-radius: 20px; }
    body .settingspage .row .box .total {
      width: 3.5em;
      height: 3.5em;
      margin: 0.25em;
      display: inline-flex;
      cursor: pointer;
      transition: all 500ms; }
    body .settingspage .row .box .total.g {
      background-color: #2ECC71; }
      body .settingspage .row .box .total.g:hover {
        background-color: #28a85f; }
    body .settingspage .row .box .total.o {
      background-color: #E67E22; }
      body .settingspage .row .box .total.o:hover {
        background-color: #cc701f; }
    body .settingspage .row .box .total.b {
      background-color: #3498DB; }
      body .settingspage .row .box .total.b:hover {
        background-color: #2c7eb5; }
    body .settingspage .row .box .total.r {
      background-color: #E74C3C; }
      body .settingspage .row .box .total.r:hover {
        background-color: #c24032; }
  body .settingspage .row svg {
    fill: #FFFFFF; }
  body .settingspage .row svg:hover, body .settingspage .row svg:active {
    fill: #D8D8D8;
    color: #D8D8D8; }
  body .settingspage .row.made {
    color: #FFFFFF; }
    body .settingspage .row.made a, body .settingspage .row.made a:link, body .settingspage .row.made:visited {
      color: #FFFFFF; }
    body .settingspage .row.made a:hover, body .settingspage .row.made a:active {
      color: #D8D8D8; }

body .row:first-of-type {
  padding: 1em;
  height: auto; }
  body .row:first-of-type .octicon {
    float: left; }
  body .row:first-of-type .options {
    float: right; }

body .hide {
  transition: visibility 0.25s, opacity 0.25s ease-out;
  visibility: hidden;
  opacity: 0; }

body.g .color {
  color: #2ECC71;
  fill: #2ECC71; }

body.g svg:hover {
  color: #28a85f;
  fill: #28a85f; }

body.g .settingspage {
  background-color: #2ECC71; }

body.g .total.active {
  background-color: #2ECC71; }

body.g a:hover, body.g a:active {
  color: #2ECC71; }

body.g .btt {
  background-color: #2ECC71; }

body.g .btt:hover, body.g .btt:active {
  background-color: #28a85f; }

body.o .color {
  color: #E67E22;
  fill: #E67E22; }

body.o svg:hover {
  color: #cc701f;
  fill: #cc701f; }

body.o .settingspage {
  background-color: #E67E22; }

body.o .total.active {
  background-color: #E67E22; }

body.o a:hover, body.o a:active {
  color: #E67E22; }

body.o .btt {
  background-color: #E67E22; }

body.o .btt:hover, body.o .btt:active {
  background-color: #cc701f; }

body.b .color {
  color: #3498DB;
  fill: #3498DB; }

body.b svg:hover {
  color: #2c7eb5;
  fill: #2c7eb5; }

body.b .settingspage {
  background-color: #3498DB; }

body.b .total.active {
  background-color: #3498DB; }

body.b a:hover, body.b a:active {
  color: #3498DB; }

body.b .btt {
  background-color: #3498DB; }

body.b .btt:hover, body.b .btt:active {
  background-color: #2c7eb5; }

body.r .color {
  color: #E74C3C;
  fill: #E74C3C; }

body.r svg:hover {
  color: #c24032;
  fill: #c24032; }

body.r .settingspage {
  background-color: #E74C3C; }

body.r .total.active {
  background-color: #E74C3C; }

body.r a:hover, body.r a:active {
  color: #E74C3C; }

body.r .btt {
  background-color: #E74C3C; }

body.r .btt:hover, body.r .btt:active {
  background-color: #c24032; }
